@import "variables";

#artist_payments.new {
  .intro {
    display: block;
  }
  .intro > h4 > span {
    border: none;
  }
  .form {
    margin: 2em 0;
    #actions {
      align-items: center;
      p {
        margin: 0 1.5em;
        a {
          font-weight: 700;
        }
      }
    }
    .col {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      .form-group {
        width: 31.5%;
        margin-right: 1.5%;
      }
      label {
        display: none;
      }
    }
  }
}
#dashboard #schedule-explainer {
  display: none;
}

#schedule-explainer {
  div {
    margin-bottom: 3em;
  }
}

.artist-payments--table {
  margin-bottom: .5em;
  font-size: small;
  .form-control {
    font-size: small;
  }
  tfoot {
    border-top: 2px solid #ddd;
    font-weight: 800;
  }
  td, th {
    vertical-align: center !important;
    max-width: 200px;
    padding: 15px 8px !important;
    &.last {
      width: 125px;
      vertical-align: inherit;
      padding: 0 !important;
    }
    &.first {
      width: 180px;
      padding-left: 24px !important;
    }
    input, select {
      margin-left: -12px;
    }
    select {
      width: 175px;
      margin-right: 10px;
    }
    .error {
      color: $red;
      font-size: 11px;
      margin-left: -12px;
    }
    .notes {
      max-width: 175px;
      overflow: hidden;
    }
  }
  th {
    &.sortable {
      width: 175px;
      &[name="check_no"] {
        width: 100px;
      }
    }
    .fa-sort {
      margin-left: .5em;
      font-size: 90%;
      display: none;
    }
    &.active .fa-sort,
    &:hover .fa-sort {
      display: inline-block;
    }
  }
  .diff {
    font-size: smaller;
    padding-left: 1em;
  }
  .diff.over {
    color: forestgreen;
  }
  .diff.under {
    color: red;
  }
}

.section.artist-payments {
    &__title {
      padding-left: 24px;
    }
  }
