@import "variables";

.admin--dashboard {
	margin-top: 4em;
}

.admin--users {
}

.user-container {

	&__title {
    border-top: 1px solid;
    padding: 1em 0;
    margin: 0;
    &:hover {
    	color: $blue;
    	border-color: $primary-color;
    }
	}
	&__content {
		display: none;
	}
	.certification-review--user-contact {
		display: flex;
		max-width: 750px;
		margin-bottom: 4em;
	}
}