@import "variables";

.admin-menu {
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 2px solid;
  border-top: 2px solid;
  top: 4em;
  display: flex;
  justify-content: space-between;
  padding: .65em 2em;
  z-index: 200;
  a {
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 1em;
		&.active, &:hover {
		  font-weight: 600;
		  border-bottom: 2px solid lime;
		}
  }
}

.admin--dashboard {
	margin-top: 6em;
}

.admin-dashboard {
	&__header {
		padding: 2em;
	}
  .user-container,
  .certification-container,
  .category-container  {
    text-decoration: none;
    background-color: white;
    &__title {
    padding: 1em 28px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    &:hover {
      color: $blue;
      background-color: #fff;
      border-color: #222;
    }
    &.dropdown {
      padding: .5em 2em;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      flex-direction: column;
      .category-container__content {
        max-width: 750px;
        margin: 0.5em 0em 2em;
        font-weight: normal;
        display: none;
      }
      &:hover .category-container__content {
        display: block;
      }
    }
  }
}


.user-container,
.certification-container {
    .certifications {
    	font-size: 14px;
    	font-weight: normal;
    }
	}
}


.admin-certification--show {
  .certification-review {
    &__body {
      padding: 6em 2em;
      max-width: 750px;
      .disabled {
        color: #aaa;
      }
      .section {
        padding: 2em 0;
        border-top: 1px solid lime;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }
}

.admin--certifications-table {
  .certification-review {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 0 2em;
    }
  }
}
.admin-dashboard--certifications,
.admin-dashboard--fee-categories,
.admin-dashboard--users {
  .th {
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin: 0;
    font-size: 14px;
    span {
      width: 20%;
    }
  }
  .category-container__title {
    background-color: #fff;
    .header span {
      width: 20%;
      &.actions {
        text-align: right;
      }
    }
  }
  .certification-container__title,
  .user-container__title  {
    background-color: #fff;
    span {
      width: 20%;
    }
  }
}

.admin-user--show {
  margin-top: 8em;
  .user-container {
    border: none;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    &__title {
      padding: 0 2em;
      display: flex;
      max-width: 750px;
      justify-content: space-between;
      align-items: center;
    }
  }
  .certification-review--user-contact {
    display: flex;
  }
  .section {
    margin: 0 2em;
    padding: 2em 0;
    border-top: 1px solid lime;
    max-width: 750px;
  }
  .certifications--table {
    .th span,
    .certification.teaser span {
      width: 25%;
      &.updated {
        text-align: right;
      }
    }
  }
}

.fee-category--show {
  margin: 6em 2em;
  .fee-category--edit {
    max-width: 750px;
    textarea.form-control {
      min-height: 10em;
    }
    .inline-form-group {
      display: flex;
      justify-content: space-between;
      .form-group {
        width: calc(50% - 15px);
      }
    }
  }
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-save {
      min-width: 12em;
      margin-right: 1em;
    }
  }
}