 @import "variables";

.certification-view {
	&__content {
		padding: 9.5em 2em 5.5em 2em;
	}

	&__header {
		margin-top: 0;
		margin-bottom: 3em;
		max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
		h1 {
	    border-bottom: 1px solid lime;
	    margin-top: 0;
			margin-bottom: 0;
	    font-size: 28px;
	    padding-bottom: 10px;
  	}
  }
	&__subtitle {
		min-width: 250px;
	}
  &__body {
  	max-width: 750px;
		h4 {
			font-size: 18px;
		}
		li {
			margin-bottom: .5em;
		}
		ul {
			margin-bottom: 1.5em;
		}
  }
  &__next {
    position: fixed;
    bottom: 15px;
    right: 1.85em;
    i {
    	margin-left: .25em;
    }
  }
/* end certification-view */
}


.btn.fee-schedule {
	position: fixed;
  right: 9em;
  bottom: 15px;
  padding: 11px 24px;
  font-size: 18px;
  display: none;
}
.active .btn.fee-schedule {
	display: block;
}

.certification-view {
	&--fee-schedule,
	&--guidelines {
		.certification-view__fee-schedule {
			display: none;
		}
	}
		&--review {
		.btn.fee-schedule {
	    right: 15.75em;
	  }
	}
}