 @import "variables";

.certification-view {
	&__content {
		padding: 9.5em 2em 5.5em 2em;
	}

	&__header {
		margin-top: 0;
		margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
		h1 {
	    border-bottom: 2px solid lime;
	    margin-top: 0;
  	}
  }

  &__body {
  	max-width: 750px;
  }
  &__next {
    position: fixed;
    bottom: 15px;
    right: 1.85em;
    i {
    	margin-left: .25em;
    }
  }
/* end certification-view */
}

.certification-view--fee-tracker {
	padding-left: 0;
	padding-right: 0;
	.certification-view__header {
		padding: 0 2em;
	}
	.certification-view__body {
		max-width: 100%;
		.artist-payments {
			margin-top: -2px;
			background-color: white;
			margin-bottom: 2em;
			border-bottom: 2px solid;
		}
	}
}

.fee-tracker {
	.fee-tracker__intro {
		max-width: 750px;
		padding: 0em 0 4em 2em;
	}

	.fee-tracker__payments {
		background-color: white;
		padding: 2em;
		border-top: 2px solid;
		border-bottom: 2px solid;
		&.disabled {
			color: #999;
			background: none transparent;
			border-color: #ccc;
			.form-control[disabled], fieldset[disabled] .form-control, input:disabled {
				color: #999;
			}
		}
		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2em;
			h3 {
				margin: 0;
				span:nth-child(2) {
			    font-size: 14px;
			    font-weight: 400;
			    border-bottom: 0;
			    padding-bottom: 0;
			    margin-left: 1em;
			    vertical-align: bottom;
				}
			}
			h6 {
				cursor: pointer;
				&:hover {
					background-color: $blue;
				}
			}
		}
		.col:nth-child(2) {
			padding-left: 15px;
			padding-right: 0;
		}
	}
/* end fee-tracker */
}

