
.certification-view--review {
	padding-left: 0;
	padding-right: 0;
	.certification-view__header {
		padding: 0 2em;
	}
	 .certification-view__body {
		min-width: 100%;
		h3 {
			display: flex;
			justify-content: space-between;
			max-width: 750px;
			span {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
				&:nth-child(2) {
					font-size: 15px;
					font-weight: normal;
				}
			}
		}
	}
	.certification-review__intro {
		padding: 0 2em;
		max-width: 750px;
    margin-bottom: 3em;
		h4:first-child {
			margin-top: 0;
		}
	}
	.certification-review__payments {
			margin-top: -2px;
			background: white;
			border-bottom: 2px solid;
			.artist-payments__title span {
				border-bottom: none;
				&.req {
			    font-size: 20px;
			    vertical-align: bottom;
			    margin-left: 5px;
				}
			}
			.payments-required {
		    width: 750px;
		    margin-left: 24px;
		    border-top: 1px solid lime;
		    padding-top: 1em;
		    margin-bottom: 4em;
			}
		}
	.certification-review__body {
		background-color: white;
		padding: 2em;
		border-top: 2px solid;
		border-bottom: 2px solid;
		.section {
	    max-width: 750px;
	    margin-bottom: 2em;
	    border-top: 1px solid lime;
	    padding-top: 1em;
		}
		.disabled {
			color: #aaa;
		}
	}
	.btn[disabled] {
		opacity: 1;
  	color: #999;
	}
	.suggested {
    font-size: smaller;
    font-weight: normal;
	}
/* end certification-view--review */
}
