<div class="intro one">
  <div class="text">
    <h2>If your organization is applying to be W.A.G.E. Certified, you are voluntarily making a commitment to pay artists according to W.A.G.E.’s minimum standards of compensation.</h2>
    <div class="scroll-down"><a href="#"><i class="fa fa-angle-down"></i></a></div>
  </div>
</div>

<div class="intro two">
  <div class="text">
    <h2>W.A.G.E. Certification is intended as an ongoing commitment to equity.</h2>
    <h2>You can apply to be certified for previous, current or upcoming fiscal years but they must be consecutive:</h2>
  </div>
  <div class="columns">
    <div class="col col-lg-4">
      <h3><span>Current Fiscal Year</span></h3>
      <h4>If your organization has begun meeting W.A.G.E. standards during your current fiscal year, you can apply to be certified while you are still in it.</h4>
    </div><div class="col col-lg-4">
      <h3><span>Upcoming Fiscal Year</span></h3>
      <h4>If your organization is preparing to meet W.A.G.E. standards in the next fiscal year, you can apply to be certified for that year as long as its start date is within 90 days.</h4>
    </div><div class="col col-lg-4">
      <h3><span>Previous Fiscal Year</span></h3>
      <h4>If your organization has consistently paid artist fees using W.A.G.E.’s standards during a previous fiscal year, you can apply to be certified for that year after applying for a current or upcoming fiscal year.</h4>
    </div>
  </div>
</div>
<div class="intro four">
  <div id="schedule-explainer" class="text">
    <h1><span>Fee Requirements & Calculation</span></h1>
    <div>
      <h3>Floor W.A.G.E.</h3>
      <h4>If your operating budget is below $500,000 annually you are required to pay artist fees at Floor W.A.G.E.</h4>
    </div>
    <div>
      <h3>Minimum W.A.G.E.</h3>
      <h4>If your operating budget is above $500,000 you are required to pay artist fees meeting Minimum W.A.G.E. standards. These fees are calculated as a percentage of your organization’s total annual operating expenses (TAOE) and will be determined automatically once you enter the expenses of the fiscal year you’re applying to be certified for. From this customized fee schedule you can determine if your organization meets the required standards.</h4>
    </div>
    <div>
      <h3>Maximum W.A.G.E.</h3>
      <h4>If your operating budget is over $15,000,000 you are required to pay artist fees meeting Minimum W.A.G.E. standards but also must not exceed a maximum. Your minimum fees are calculated as a percentage of your organization’s TAOE and will be determined automatically once you enter the expenses of the fiscal year you’re applying to be certified for.</h4>
      <h4>To determine the maximum, please contact us directly: certification@wageforwork.com.</h4>
  </div>
</div>
</div>
  <div class="intro three">
    <div class="text">
      <h3>Any new application must include:</h3>
      <h4>
        <ul>
        <li>Your 501c3 determination letter <small><em>or documentation of fiscal sponsorship</em></small></li>
        <li>Most recent 990, if available</li>
        <li>Templates of contracts used with artists</li>
      </ul>
      </h3>
      <h4>These documents only need to be submitted once.</h4>
      <h4>You must also submit your organization’s total operating budget with “Artist Fees” included as a distinct and visible line item. </h4>
      <h4>If your application is for the current or upcoming fiscal year, this will be a projected budget. If you are applying for a prior fiscal year, it will be a closed out budget.</h4>
    </div>
  </div>
</div>
<% if !current_user %>
  <%= render "devise/registrations/new" %>
<% end %>
