<div class="intro">
  <div class="text">
    <h2>If your organization is applying to be W.A.G.E. Certified, you are voluntarily making a commitment to pay artists according to W.A.G.E.’s minimum standards of compensation.</h2>
    <h2>You can apply to be certified for previous, current or upcoming fiscal years.</h2>
  </div>
</div>
