$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$font-light: 400;
$font-med: 600;
$font-heavy: 800;


$red: #ff0033;
$blue: #00aeef;
$lime: #05fb1a;
$light-gray: #f7f7f9;
$med-gray: #eee;
$yellow: darkorange;
