$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$font-light: 400;
$font-med: 600;
$font-heavy: 800;


$red: #ff0033;
$blue: #00aeef;
$lime: #05fb1a;
$light-gray: #f7f7f9;
$med-gray: #eee;
$yellow: yellow;
$dark-yellow: gold;


@mixin btn-black {
  background-color: white;
  font-weight: $font-med;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
}

@mixin btn-green {
  background-color: $yellow;
  font-weight: $font-med;
  border: 2px solid $lime;
  border-radius: 5px;
  padding: 5px 10px;
}

