/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 @import "variables";
 @import "./users";
 @import "./artist_payments";
 @import "./fee_schedule";
 @import "./financials";
 @import "./direct_upload";
 @import "./certification/certification";
 @import "./certification/certification_menu";
 @import "./certification/certification_review";


body {
  font-family: $font-stack;
  color: $primary-color;
  background-color: #eee;
}

a {
  color: $primary-color;
  text-decoration: underline;
  &:hover {
    background-color: $blue;
  }
}
h4 small {
  color: $primary-color;
  font-size: 14px;
  margin-left: .5em;
  font-weight: $font-light;
}
.btn {
  border: 2px solid;
  background-color: white;
  font-weight: $font-heavy;
  &:hover {
    background-color: $blue;
  }
  &.save {
    width: 100%;
  }
  &.back i, &.next i {
    vertical-align: center;
  }
  &.back i {
    margin-left: -5px;
    margin-right: 5px;
  }
  &.next i {
    margin-left: 5px;
    margin-right: -5px;
  }
}
.btn-danger {
  color: $red;
}
.btn.next {
  font-size: 20px;
  margin: 1em 0;
  padding: .35em 2.5em .25em;
  i {
    margin-left: 5px;
    margin-right: -5px;
    font-size: 65%;
    vertical-align: inherit;
  }
}
h1, h2, h3, h4, h5 {
  font-weight: $font-heavy;
  margin: .65em 0;
  line-height: 1.35em;
}

h1 span,
h2 span,
h3 span {
  border-bottom: 2px solid $lime;
  padding-bottom: 3px;
}

h1 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}
h6 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.col {
  padding-left: 0;
}
.col:last-child {
  padding-right: 0;
}

.req {
  color: red;
}

.field-group .req,
.input-group .req {
  position: absolute;
  right: 1em;
  top: 0.45em;
  font-size: 20px;
  color: red;
  &.green {
    color: lime;
  }
}

.validated {
  .error {
    position: absolute;
    right: 1em;
    top: 5px;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 12px;
    color: red;
  }
}

.input-group.input-group__addon .req {
  right: 3em;
  z-index: 100;
}

nav {
  background-color: $blue;
  height: 4em;
  border-bottom: 2px solid $primary-color;
  z-index: 1000 !important;
  a.navbar-brand {
    font-weight: 800;
    font-size: 3.5em;
    text-decoration: none;
    letter-spacing: .04em;
    height: inherit;
    line-height: .5em;
    color: yellow;
    padding-left: .55em;
  }
  .navbar-right {
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    .btn {
      text-decoration: none;
      padding: .5em .95em;
      margin-right: 1em;
      margin-top: .45em;
      line-height: 1em;
      font-size: 1.25em;
      &:hover {
        background-color: white;
        border-color: $lime;
      }
    }
    .dropdown-toggle {
      z-index: 2000;
      position: fixed;
      right: 2em;
      top: .5em;
      .fa {
        font-size: 3em;
      }
    }
    .open .dropdown-menu {
      display: flex;
    }
    .dropdown-menu {
      right: -2em;
      padding-left: 1em;
      margin-right: 1.9em;
      border-color: lime;
      border-top-color: #000;
      margin-top: -2px;
      border-radius: 0 0 5px 5px;
      min-width: 300px;
      font-weight: 600;
      font-size: 1.5em;
      flex-direction: column;
      line-height: 2em;
      a {
        text-decoration: none;
      }
      .navbar-link--small {
        font-size: 14px;
        border-top: 1px solid lime;
        padding-top: 10px;
        &:hover {
          background-color: white;
          color: $blue;
        }
      }
    }
  }
}

.new-user-dashboard {
  min-width: 100%;
  align-self: flex-start;
  .body {
    background-color: #eee;
  }
}
  i.collapse {
    font-size: xx-large;
    position: absolute;
    top: -2.25em;
    left: -1px;
  }
  form, .form {
    clear: both;
    label {
      min-width: 7em;
    }
    .field, .field-group {
      margin: 1em 0;
      padding-left: 0;
      clear: both;
      display: flex;
    }
    .field-group {
      align-content: center;
      margin-bottom: 2em;
      h4 {
        margin: 0;
      }
    }
    .helper{
      text-align: right;
      font-size: small;
      margin-top: -1em;
      margin-bottom: 2em;
    }
  }
.table {
  td.first,
  th.first {
    padding-left: 2em;
  }
  .btn-danger {
    margin-left: 1em;
  }
}

