#artist_payments.new {
  padding-left: 15px;
  margin: 3em auto;
  .intro > h4 > span {
    border: none;
  }
  .form {
    margin: 2em 0;
    .col {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      .form-group {
        width: 32%;
      }
      label {
        display: none;
      }
    }
  }
}

#artist_payments.table {
  .diff {
    font-size: smaller;
    padding-left: 1em;
  }
  .diff.over {
    color: forestgreen;
  }
  .diff.under {
    color: red;
  }
}
