#certifications {
  .new {
    margin-left: 1em;
    padding-top: 2em;
    td {
      padding-right: 2em;
    }
  }
  .certification.teaser {
    background-color: #eee;
    display: block;
    padding: 2em;
    border: 2px solid;
    margin: 2em 1em;
    text-decoration: none;
    &:hover {
      background-color: #00aeef;
      border-color: lime;
      opacity: 1;
    }
  }
}
