#dashboard {
  #certifications {
    display: flex;
    justify-content: space-around;
    padding: 2em .5em;
    .new {
      select {
        float: left;
        font-size: 1.5em;
        font-weight: 700;
        color: #222;
        padding-left: 1em;
        height: 1.75em;
        width: 200px;
        margin-right: .35em;
      }
    }
    .teaser {
      margin: 1em;
    }
  }
  #fee-schedule {
    clear: both;
    margin-top: 5em;
    h1 {
      display: none;
    }
  }
}
