.dashboard {
  width: 100%;
}

.progress {
  width: 50%;
  float: right;
  margin-top: -1.9em;
  margin-right: 8px;
  .bar {
    padding-left: 10px;
    font-size: smaller;
    height: 100%;
    padding-top: 1px;
  }
}
#qb_pl {
  display: flex;
  .progress {
    margin-top: -.25em;
    font-size: smaller;
  }
  p {
    font-size: smaller;
    font-weight: 300;
  }
}
#dashboard {
  .container {
    position: relative;
    width: 100%;
    padding: 0;
    .title.collapse {
      background-color: #fff;
      display: flex;
      border-top: 2px solid;
      border-bottom: 2px solid;
      h1 {
        max-width: 850px;
        width: 100%;
        margin: .65em auto;
      }
    }
    .title.collapse:nth-child(1) {
      margin-top: -2px;
    }
    .collapse-content {
      max-width: 850px;
      margin: 0 auto;

      h4.th {
        font-size: 1em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        padding: 0 .75em;
      }
    }
  }
  #certifications {
    .new {
      position: absolute;
      right: 0;
      top: -4.5em;
      select {
        float: left;
        font-size: 1.5em;
        font-weight: 700;
        color: #222;
        padding-left: 1em;
        height: 1.75em;
        width: 200px;
        margin-right: .35em;
      }
    }
    .teaser {
      display: flex;
      align-items: center;
      background-color: #eee;
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin-top: -1px;
      text-decoration: none;
      justify-content: space-between;
      padding: 0 .75em;
      &:hover {
        background-color: #00aeef;
      }
    }
  }
  #fee-schedule {
    clear: both;
    margin-top: 5em;
    // h1 {
    //   display: none;
    // }
  }
}
