
.direct-upload {
  position: relative;
  margin-bottom: 2em;
  &__input {
    position: relative;
    input {
    	font-size: 11px;
      padding: 7px 12px;
      height: 3em;
    }
  }
  label {
    h4 {
      margin: .25em 0;
    }
    p {
      margin: 0 0 .5em 0;
      font-weight: normal;
    }
  }
  .direct-upload__has-file {
    font-size: 11.75px;
    position: relative;
    display: flex;
    .filename {
      line-height: 2em;
      height: 1.5em;
      overflow: hidden;
      margin-left: 8px;
    }
  }
  .progress {
    width: 50%;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 0;
    margin: 0;
    height: 2.2em;
    .bar {
      padding-left: 10px;
      font-size: 11px;
      height: 100%;
      display: flex;
      align-items:center;
    }
  }
  span.req {
    position: absolute;
    top: .45em;
    font-size: 20px;
    right: .85em;
  }
  span.req.green {
    color: lime;
  }
}