[data-react-class='FeeSchedule'] {
  max-width: 850px;
  margin: 2em auto;
}

#fee-schedule{
  .message {
    margin-bottom: 4em;
  }
}

#schedule-table {
  .header {
    .wide {
      position: relative;
      span {
        position: relative;
      }
    }
    .wide.single {
      .info--title.active {
        color: #222;
      }
      .info {
        right: -12px;
        left: auto;
        width: 120px;
      }
    }
  }
}
