.certification-view--fee-schedule {
  .certification-view__body {
    min-width: 100%;
  }
}

[data-react-class='FeeSchedule'] {
  max-width: 850px;
  margin: 2em auto;
}

#fee-schedule{
  .message {
    margin-bottom: 4em;
  }
}

#schedule-table {
  .header {
    .wide {
      position: relative;
      span {
        position: relative;
      }
    }
    .wide.single {
      .info--title {
        i {
          margin-left: 5px;
          margin-right: -10px;
        }
      }
      .info--title.active {
        color: #222;
      }
      .info {
        right: -12px;
        left: auto;
        width: 120px;
      }
    }
  }
  .fee-category.header {
    color: #222;
  }
  .fee-category h5 {
    align-items: center;
  }
  .title {
    flex-direction: column;
    .category {
      font-size: 18px;
      margin-bottom: -3px;
    }
    .percent {
      font-size: 10.5px;
    }
  }
  .amount {
    font-size: 24px;
    .subtitle {
      font-size: smaller;
    }
  }
}
