 @import "variables";

.fee_schedule--full_view {
  margin: 9.5em 2em 5.5em 2em;
}


.certification-view--fee-schedule {
  .certification-view__body, .certification-view__header {
    min-width: 100%;
  }
}

[data-react-class='FeeSchedule'] {
  max-width: 850px;
  margin: 2em auto;
}

#fee-schedule{
  .message {
    margin-bottom: 4em;
  }
}

#schedule-table {
  margin-bottom: 7em;
  margin-left: -2em;
  margin-right: -2em;
  .header {
    .wide {
      position: relative;
      span {
        position: relative;
      }
    }
    .wide.single {
      .info--title {
        i {
          margin-left: 5px;
          margin-right: -10px;
        }
      }
      .info--title.active {
        color: #222;
      }
      .info {
        right: -12px;
        left: auto;
        width: 120px;
      }
    }
  }
  .fee-category.header {
    color: #222 !important;
  }
  .fee-category h5 {
    align-items: center;
  }
  .title {
    flex-direction: column;
    height: 2.5em;
    .category {
      font-size: 18px;
      margin-bottom: -3px;
    }
    .percent {
      font-size: 10.5px;
    }
  }
  .amount {
    font-size: 24px;
    .subtitle {
      font-size: smaller;
    }
  }
}
#fee-schedule {
  h4.taoe {
    position: absolute;
    top: 0;
    right: 1.5em;
  }
  .fee-category {
    border-top: 1px solid;
    padding: 1em 2em;
    font-size: 16px;
    &:last-child {
      border-bottom: 1px solid;
    }
    .minimum {
      color: $lime;
    }
    .recommended {
      color: $blue;
    }
    .maximum {
      color: $red;
    }
    h5 {
      display: flex;
      justify-content: space-between;
      margin: 0;
      .info__fee,
      .info__header {
        width: 450px;
        display: flex;
        justify-content: flex-end;
      }
      .info__fee-amount,
      .info__title {
        width: 200px;
        &:first-child {
          width: 250px;
        }
      }
      .info__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .subtitle {
          font-size: 11px;
          line-height: 1em;
        }
      }
      .title {
        padding-left: 0;
        display: flex;
        justify-content: center;
      }
    }
    &.header {
      border-top: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: #fafafa;
      z-index: 99;
      height: 2.75em;
      &.active {
        position: fixed;
        left: 0;
        right: 0;
        top: 6em;
        border-bottom: 2px solid;
        padding-bottom: 0;
        .subtitle {
          display: none;
        }
      }
      h5 {
        font-size: 1em;
        text-transform: uppercase;
        height: 100%;
      }
      &:hover {
        background: none transparent;
      }
    }
    .title {
      flex: 5;
    }
    .description {
      height: 0;
      opacity: 0;
      p {
        margin: 0;
        max-width: 750px;
      }
    }
    &.active, &:hover {
      background-color: #fff;
      .description {
        height: inherit;
        opacity: 1;
        padding-bottom: .5em;
        padding-top: .5em;
      }
    }
  }
}
