#fiscal-dates {
	h4 {
		font-size: 19px;
		margin-bottom: .25em;
	}
	p, h5 {
		margin-bottom: 0.5em;
	}
}
.financials--fiscal-dates {
	margin-bottom: 2em;
	.field-group {
		display: flex;
		justify-content: space-between;
		.input-group__addon {
			width: 31%;
		}
	}
	.col {
		margin-bottom: 2em;
		&:nth-child(1) {
			padding-right: 1em;
		}
		&:nth-child(2) {
			padding-right: 0;
			padding-left: 1em;
		}
	}
	select.form-control:last-child {
    margin: 0;
	}
	select.form-control {
	    margin-right: 15px;
	}
	/* end financials--fiscal-dates */
}

.financials--fiscal-details {
	margin-top: 3em;
	&.new-user {
		margin-top: 9em;
		#file_budget {
    	margin-bottom: 3em;
		}
	}
	h4 {
		margin: .25em 0;
	}
	p {
		margin: 0 0 .5em 0;
	}
	.form-item {
		position: relative;
	}
	.form-item:first-child {
		margin-bottom: 3em;
    margin-top: 9em;
    border-top: 1px solid lime;
    padding-top: 4em;
	}
	/* end financials--fiscal-details */
}