@import "variables";

#registrations-edit,
#registrations-new,
#site-guidelines,
#registrations-create,
#passwords-edit {
  flex-direction: column;
  .intro {
    width: 100%;
    padding: 4em 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.35em;
    .scroll-down {
      width: 100%;
      text-align: center;
      font-size: 6em;
      margin-bottom: -1em;
      margin-top: 1em;
      a {
        color: yellow;
        padding-top: 2em;
      }
      a:hover {
        background: none transparent;
      }
    }
    &.one {
      background-color: $blue;
      color: yellow;
      margin-top: -4em;
      h1 {
        margin-bottom: .35em;
        font-size: 34px;
        border-bottom: 1px solid;
        padding-bottom: .45em;
        max-width: 490px;
        margin: 0 auto;
      }
     h2 {
      max-width: 490px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      }
      .text {
        margin: 0 auto;
      }
    }
    &.two {
      background-color: lime;
      z-index: 2000;
      h1 {
        span {
          border-color: $primary-color;
        }
      }
      h2 {
        margin-bottom: .75em;
        font-size: 28px;
        line-height: 1.2em;
      }
      .text {
        margin-left: 0;
        width: 995px;
        max-width: 100%;
      }
    }
    &.three {
      background-color: $lime;
      min-height: 100vh;
      color: #222;
      small {
        font-weight: 600;
        color: yellow;
      }
      h1 span {
        border-color: $primary-color;
      }
      h4 {
        font-size: 18px;
      }
      li {
        margin-bottom: .5em;
        line-height: 1.2em;
      }
    }
    &.four {
      background-color: white;
      h1 span {
        border-color: $red;
      }
      h1 {
        margin-bottom: 1.5em;
      }
      h4 {
        font-size: 16px;
      }
      h4.title {
        color: $red;
      }
    }
    .text {
      max-width: 750px;
      margin-left: 0;
      h1 {
        font-size: 28px;
        line-height: 1.35em;
      }
    }
    .columns {
      display: flex;
      max-width: 1000px;
      justify-content: center;
      .col {
        margin: 2em 1.5em;
        padding: 1em 2em;
        background-color: white;
        flex: 1;
        h3 {
          font-size: 20px;
          margin-bottom: 1em;
          span {
            padding-bottom: 5px;
          }
        }
        h4 {
          font-size: 16px;
        }
      }
      .col:first-child {
        margin-left: 0;
      }
    }
  }
  #user.new,
  #user.edit {
    margin: 0;
    max-width: 550px;
    padding: 2em;
    h1 {
      font-size: 30px;
      margin-bottom: 1.25em;
      span {
        padding-bottom: 10px;
        border-bottom: 1px solid lime;
      }
    }
    .helper {
      float: right;
      font-size: smaller;
      opacity: .8;
    }
    #error_explanation {
      h2 {
        display: none;
      }
      ul {
        padding-left: 1em;
        margin-bottom: 2em;
      }
    }
    .actions {
      margin-bottom: 2em;
      input {
        width: 70%;
      }
    }
  }
}

  #user.edit {
    .form-group {
      margin-top: 1em;
      h4, p {
        display: inline-block;
        margin-bottom: .35em;
      }
    }
    .actions .btn-lg {
      margin-top: 1em;
    }
  }

.password.reset,
#user.login {
  form {
    margin-top: 0;
    .field {
      align-items: center;
    }
  }
}

#user.login,
.password.reset,
.password.edit {
  max-width: 550px;
  padding: 0em 2.5em 8em 2.5em;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-group {
    position: relative;
    padding-bottom: 1.35em;
  }
  .helper {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    font-size: 12px;
    color: #aaa;
  }
  .login {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    align-items: center;
    .actions {
      width: 100%;
      order: 1;
      margin-bottom: 2em;
      .btn {
        width: 100%;
      }
    }
    .remember {
      order: 2;
      font-size: small;
      margin-left: 3em;
      min-width: 115px;
      input[type='checkbox'] {
        margin-right: .5em;
        margin-top: -5px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #site-guidelines {
    .intro.two {
      .text {
        width: calc(100% - 220px);
      }
      .columns {
        flex-direction: column;
        width: calc(100% - 220px);
      }
      .col {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    #schedule-explainer,
    .intro.three .text {
      width: calc(100% - 220px);
    }
  }
}
@media screen and (max-width: 750px) {
  #site-guidelines nav.navbar img.logo.foot {
    display: none;
  }
  #schedule-explainer,
  .intro.three .text,
  .intro.two .text,
  .intro.two .columns {
      min-width: 100%;
  }
}