#statement {
  .edit {
    textarea {
      min-height: 12em;
      font-size: 1.2em;
      line-height: 1.45em;
    }
  }
}

.dashboard {
  .greeting .status span {
    margin-left: 1.5em;
  }
  .greeting .contact span:nth-child(1),
  .greeting .fiscal-details span:nth-child(2),
  .greeting .statement span:nth-child(3),
  .greeting .review span:nth-child(4) {
    font-weight: 700;
    border-bottom: 2px solid lime;
  }
}
