@import "variables";

#registrations-new,
#site-guidelines,
#registrations-create {
  flex-direction: column;
  .intro {
    width: 100%;
    padding: 4em 2.75em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.35em;
    .scroll-down {
      width: 100%;
      text-align: center;
      font-size: 6em;
      margin-bottom: -1em;
      margin-top: 1em;
      a {
        color: yellow;
        padding-top: 2em;
      }
      a:hover {
        background: none transparent;
      }
    }
    &.one {
      background-color: $blue;
      color: yellow;
      margin-top: -4em;
     h2 {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      }
    }
    &.two {
      background-color: lime;
      z-index: 2000;
      h2 {
        // font-size: 2.75em;
        margin-bottom: .75em;
      }
    }
    &.three {
      background-color: $blue;
      min-height: 50vh;
      color: yellow;
      small {
        font-weight: 600;
        color: yellow;
      }
    }
    &.four {
      background-color: white;
      h1 span {
        border-color: $red;
      }
      h3 {
        color: $red;
      }
    }
    .text {
      max-width: 800px;
      margin: 0 auto;
      h1 {
        font-size: 3em;
        line-height: 1.35em;
      }
    }
    .columns {
      display: flex;
      justify-content: center;
      .col {
        margin: 2em 1.5em;
        padding: 1em 2em;
        background-color: white;
        flex: 1;
      }
    }
  }
  #user.new {
    margin: 0 auto;
    max-width: 550px;
    padding: 2.5em;
    h1 {
      font-size: 36px;
      /*margin-bottom: 0;*/
    }
    .helper {
      float: right;
      font-size: smaller;
      opacity: .8;
    }
    #error_explanation {
      h2 {
        display: none;
      }
      ul {
        padding-left: 1em;
        margin-bottom: 2em;
      }
    }
    .actions {
      margin-bottom: 2em;
      input {
        width: 70%;
      }
    }
  }
}

.password.reset,
#user.login {
  form {
    margin-top: 0;
    .field {
      align-items: center;
    }
  }
}

#user.login,
.password.reset {
  max-width: 550px;
  padding: 0em 2.5em 8em 2.5em;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .login {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5em;
      align-items: center;
      .actions {
        width: 100%;
        order: 1;
        margin-bottom: 2em;
        .btn {
          width: 100%;
        }
      }
      .remember {
        order: 2;
        font-size: small;
        margin-left: 3em;
        min-width: 115px;
        input[type='checkbox'] {
          margin-right: .5em;
          margin-top: -5px;
        }
      }
    }
}