<p>Dear <%= @resource.institution_name %>,</p>

<p>Thank you for registering for W.A.G.E.</p>

<p>To confirm your account as <%= @email %>, please following the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
